#page{
    width: 1000px;  margin: auto; 
    min-height: 500px; background-color: #fff;
}
body{
    background-color: #ccc; margin: 0px; padding: 0px;
}
/* Banner đầu trang */
#top{
    height: 100px; background-color: aqua;
    background: url('../img/banner-top.png');
    background-size: cover; /*phóng ảnh to bằng khung div*/
}
#top img {
    height: 80px; margin-top: 10px;
}

/* Phần menu */
#menu{
     background-color: bisque;
    text-align: center;  padding: 10px;
}
#menu a{ /*SV tự viết tiếp định dạng cho thẻ a */}

/* phần nội dung */
#content{
    min-height: 300px;  width: 800px;
    float: left;
    background-color: chartreuse;
}

#content p{
    clear: both; margin-bottom: 10px;
}

#content p img{
    width: 80px; float: left; margin-right: 10px;
}
.clr{ clear: both;}

/* phần quảng cáo */
#aside{
    min-height: 300px;  background-color: yellow;
    width: 200px;       float: left;
}
/* Phần cuối trang */
#footer-page{
    clear: both;
    height: 80px;   background-color: blueviolet;
    color: #fff;
}